# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_scratch.txt

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and tasks you actually want to
# keep in the project.
.vscode/

# Flutter/Dart-related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_generated.xcconfig
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/android/Flutter/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication logging
/android/app/debug/
/android/app/profile/
/android/app/release/

# Android related
**/android/app/build/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
/android/local.properties
/android/key.properties
# Native Secrets (Locally present, but never committed)
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist

# iOS related
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.podspec
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/DerivedData/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.podspec

# Web related
.dart_tool/
build/

# Windows related
build/
bin/
obj/
out/

# macOS related
build/

# Linux related
build/

# Secrets
.env
